<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather_icon.png"> 
    <link rel='stylesheet' href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} 
        <p>This website uses API from Mapbox and Weatherstack!</p>
        <img src="/img/mona_lisa_happy.jpg" , class="portrait">
    </div>
    {{>footer}}
</body>

</html>